<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1040396415768-fs8ujtd5n4o876le4hi6sdo3s9ht7njq.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1040396415768-fs8ujtd5n4o876le4hi6sdo3s9ht7njq</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>1040396415768-1a3r7tj7tmq8g4j35agfhh0rh76v1n5t.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyBaDOoCmHQx8MmUfHMUfhvKeGeRDM3JUDY</string>
	<key>GCM_SENDER_ID</key>
	<string>1040396415768</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.afyachats</string>
	<key>PROJECT_ID</key>
	<string>afyachats-7bdfe</string>
	<key>STORAGE_BUCKET</key>
	<string>afyachats-7bdfe.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1040396415768:ios:15924d438992c677bb246d</string>
	<key>DATABASE_URL</key>
	<string>https://afyachats-7bdfe.firebaseio.com</string>
</dict>
</plist>